.containers{
    display: flex;
    gap: 20px;
    padding-top: 60px;
    color: #626262;
}
.container-pages{
    padding: 20px 0;
    height: 110vh;
    width: 100%;
    z-index: -1;

}
.page-title{
    padding: 10px 0;
    font-size: 1.3em;
    color: #3d3d3d;
}
.page-cards{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-right: 15px;    
}
.page-card{
    display: flex;
    padding: 1.125rem;
    flex: 1 1 auto;
    width: 300px;
    height: 150px;
    box-shadow: 1px 1px 15px rgb(0 0 0 / 10%);
    margin-bottom: 2.143rem;
    position: relative;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;

}
.card-details{
    display: flex;
    align-items: center;
}
.card-detail-icon{
 color: #dc3545;
 font-size: 3.125rem;
 /* display: inline-block;
 font: normal normal normal 14px/1 FontAwesome;
 font-size: inherit;
 text-rendering: auto;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale; */
}
.card-detail{
    margin-left: auto;
}
.card-detail>p{
    color: #343a40!important;
    text-align: right;
    font-size: 0.95rem;
    margin-bottom: 1rem;
}
.card-detail>h4{
    font-size: 1.571rem;
    line-height: 1.858rem;
}
.card-footer{
    padding-top: 1rem;
    border-top: 1px solid #eeeeee ;
    align-items: center;
    /* margin-top: 0.5rem; */
}
.card-footer>p{
    color: #6c757d;
}



.dash-charts{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.dash-chart-left{
    height: fit-content;
}
.dash-chart-left>div{
    margin-bottom: 30px;
}
.dash-charts-title{
    margin-bottom: 15px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 1rem;
    font-weight: 600;
    text-transform: capitalize;
}

.chart-datas{
    display: flex;
    /* justify-content: space-between; */
    /* flex: 1 1 50%; */
}
.chart-datas>div{
    width: 100%;
    padding: 10px;
}
.clearfix{
    display: flex;
    justify-content: space-between;    
    padding: 10px 2px;
}

.progress-small::after{
    display: block;
    clear: both;
    position: absolute;
    content: "";
    background: green;
    width: 70px;
    height: 10px;
}
.progress-small{
    height: 7px;
}
.progress{
    display: flex;
    height: 1rem;
    overflow: hidden;
    line-height: 0;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}
