
.form{
    padding: 1em;
    box-shadow: 0 3px 6px 1px #042d4657;
    flex-wrap: wrap;
    margin: 10px 0;
}
.form>div{
}
.form>div label{
    font-size: 1.2rem;
    font-weight: 600;
    /* padding: 10px; */
}
.form input[type='submit']{
    margin:0 20px 10px 20px;
}
.form-group{
    display: flex;
    flex-direction: column;
}





.form-group-media{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}