
.form{
    display: flex;
    flex-wrap: wrap;
}
.form>div{
    display: flex;
    flex-direction: column;
    margin: 0px 40px 20px 0;
}
.form>div label{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.form>div input{
    border: 1px solid red;
    min-width: 20vw;
    width: 20%;
    margin: 0 0 20px 0px;
}
.form input[type='submit']{
    margin: auto 0px 38px 0;
    padding:.6rem 3rem;
}
.form> .otherform{
    min-width: 20vw;
    width: 20%;
}

.form>.otherform>div{
    
    /* box-shadow: 0 3px 6px 1px #042d4657; */
}
.form>.otherform>div>div{
    padding: 7px 10px;
}
.select__value-container{
    overflow-y: auto;
    scroll-behavior: auto;
    height: 30px;
}

